.image{
    background-image: url('./../../Icon/image.png');
    width: 200px;
    height: 80px;
    display: inline-block;
    background-size: 100% 100%; 
}

.menu{
    width: 150%;
    margin-top: 15%;
    margin-left:-15%;
}
hr{
    margin-top: -2%;
}

.Space{
    width: 15vw;
}

.Label{
    margin-left: 5%;
    font-size: 105%;
    font-weight: bold;
    top: 0;
}
