.image{
    background-image: url('./../../Icon/image (1).png');
    width: 200px;
    height: 80px;
    display: inline-block;
    background-size: 100% 100%; 
    margin-top: 5%;
}

.menu{
    margin-top: 5%;
    margin-left:-32%;
}
hr{
    margin-top: -10%;
}

.Space{
    width: 15vw;
}

.Label{
    
    font-size: 105%;
    font-weight: bold;
    top: 1%;
    position: absolute
}
