.flex {
    display: flex;
    flex-wrap: wrap;
}

:local(.horizontal) {
    flex-direction: row;
}

:local(.vertical) {
    flex-direction: column;
}

:local(.center-y) {
  align-items: center;
  height: 100%;
}

:local(.top-y) {
  align-items: flex-end;
  height: 100%;
}

:local(.bottom-y) {
  align-items: flex-start;
  height: 100%;
}

:local(.center-x) {
  justify-content: center;
}

:local(.right-x) {
  justify-content: flex-start;
}

:local(.left-x) {
  justify-content: flex-end;
}

:local(.space-between) {
    justify-content: space-between;
    height: 100%;
}